* {
    margin: 0;
    padding: 0;
    font-family: Verdana (sans-serif);
    background-color: white;
}

body {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 700px;
    background: linear-gradient(45deg, #d0e6f7, #f0f7ff);
}

.calculator {
    align-items: center;
    border: none;
    padding: 35px 40px;
    border-radius: 35px;
    background: #e6f0ff;
    box-shadow: 12px 12px 30px rgba(100, 140, 230, 0.35);
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

input {
    width: 100%;
    padding: 25px 30px;
    margin-bottom: 25px;
    background-color: #d8e6ff;
    box-shadow: inset 6px 6px 16px #b0c8f7;

    font-size: 30px;
    text-align: right;
    color: #1c2c75;
    border: none;
    border-radius: 25px;
}

button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 12px;
    border-radius: 50%;
    background-color: #1c2c75;
    color: white;
    font-size: 20px;
    box-shadow:
        6px 6px 18px #3a5bbb;

}


.equalBtn {

    box-shadow:
        6px 6px 22px #1c2c75;
}


.operator {
    color: #ffffff;
    align-items: center;
    text-align: center;
}